#frame, #pic{
    margin: 0;
    padding: 0;
    width:100vw;
    height: 60vw;
    position: relative;
}

#logo{
    width:25%;
}

#overlayer{
    z-index:1;
    background-color: rgba(34, 33, 33, 0.7);
    width: 100vw;
    height: 60vw;
    position: absolute;
    top: 63px;
    text-align: center;
}